@import "tailwindcss";

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/VT323-Regular.ttf') format('truetype');
}

@theme {
  --font-sans: "VT323", monospace;
}

@layer base {
  html {
    font-family: var(--font-sans);
    line-height: 0.0;
  }

  body {
    line-height: 0.0;
  }
}

@layer utilities {
  .text-xs { font-size: 1.0rem; line-height: 0.7; }
  .text-sm { font-size: 1.1rem; line-height: 0.7; }
  .text-base { font-size: 1.2rem; line-height: 1; }
  .text-lg { font-size: 1.5rem; line-height: 1; }
  .compact {
    --pad-xs: 0.0rem;
    --pad-sm: 0.0rem;
    --pad-md: 0.0rem;
  }
  .compact-px { padding-inline: 0; }
  .compact-py { padding-block: 0; }
  .pixel-radius {
    border-radius: 0px;
  }
}
